<% if options[:navigation] && documents&.any? %>
  <nav id="navigation">
    <% if options[:navigation_title] %>
      <h3><%= options[:navigation_title] %></h3>
    <% end %>
    <%= render 'navigation_list', documents: documents %>
  </nav>
<% end %>
