!!! 1.1
!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title= book.title
    %link{ :href => 'style.css', :type => 'text/css', :rel => 'stylesheet' }
  
  %body
    %h1= book.title
    %h2= "by #{@book.author}"