@import "../reset.css";

body {
  font-family: 'Hoefler Text', Georgia, Garamond, FreeSerif, serif;
  line-height: 1.3
}

h1 {
  font-size: 130%;
  font-weight: normal;
  border-bottom: solid 2px #666;
  margin-bottom: 15px;
}

h2 {
  font-size: 125%;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 5px
}

h3 {
  margin-top: 10px;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}

code {
  font-family: Monaco, 'Lucida Console', Consolas, Monotype, mono; 
  font-size: 12px; 
}

pre {
  display: block;
  background-color: #eee;
  padding: 5px 10px
}

ul {
  list-style-type: square;
}

ul ul {
  list-style-type: circle;
}

li {
  margin: 5px 0;
}

ol {
}
  
ul li, ol li {
  margin-left: 5px;
}

p {
  font-size: 100%;
  margin: 0 0 10px 0;
}

p+p, ul+p, ol+p {
  text-indent: 1em;
}

blockquote {
  display: block;
  font-size: 95%;
  font-style: italic;
  line-height: 1.15;
  padding: 1px 5px 1px 10px;
  margin: 5px 35px 5px 5px;
}
  
@media screen {
  body {
    font-size: 16px;
    background-color: #666; 
  }

  #container {
    display: block;
    border: solid 1px #999;
    width: 500px;
    padding: 50px;
    margin: 10px auto;
    background-color: #fff;
  }
  
  blockquote {
    background-color: #429bdf;
  }
}

@media print {
  body {
    font-size: 12pt;
    margin: 1in 1.25in; }

  img {
    display: block; 
  }
    
  blockquote {
    background-color: #ddd;
  }
}
