@import '../reset.css';

body {
  font-family: var(--body-font-family), Georgia, serif;
}

h1, h2 {
  line-height: 1.3;
}

h2, h3, h4, h5, h6 {
  line-height: var(--screen-line-height);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font-family);
  font-weight: normal;
}

h1 {
  font-size: calc(var(--screen-font-size) * 1.5);
  margin-top: var(--screen-unit);
  margin-bottom: var(--screen-unit);
}

h2 {
  font-size: calc(var(--screen-font-size) * 1.2);
  margin-top: calc(var(--screen-unit) * 3 / 2);
  margin-bottom: calc(var(--screen-unit) * 1 / 2);
}

h3 {
  font-size: calc(var(--screen-font-size) * 1.1);
  margin-top: calc(var(--screen-unit) * 7 / 4);
  margin-bottom: calc(var(--screen-unit) * 1 / 4);
}

h4 {
  font-size: calc(var(--screen-font-size) * 1.05);
  margin-top: calc(var(--screen-unit) * 7 / 8);
  margin-bottom: calc(var(--screen-unit) * 1 / 8);
}

h5, h6 {
  font-size: var(--screen-font-size);
  margin-top: calc(var(--screen-unit) * 7 / 8);
  margin-bottom: calc(var(--screen-unit) * 1 / 8);
}

ul {
  list-style-type: square;
}

ul ul {
  list-style-type: circle;
}

ul, ol {
  margin: calc(var(--screen-unit) / 4) 0 0 calc(var(--screen-unit) / 2);
  padding-left: calc(var(--screen-unit) * 1.2);
}

ul li p, ol li p {
  text-indent: 0 !important;
}

ul li + li, ol li + li {
  margin-top: calc(var(--screen-unit) / 4);
}

p {
  margin: calc(var(--screen-unit) / 2) 0;
}

ul + p, ol + p, blockquote + p, pre + p {
  text-indent: 0;
}

a:link, a:visited, a:active {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: Monaco, Menlo, Mensch, Consolas, Monotype, mono;
  font-style: normal;
}

pre {
  display: block;
  margin-left: var(--screen-unit);
  margin-right: calc(var(--screen-unit) * 2);
  padding: calc(var(--screen-unit) / 3) var(--screen-unit);
  padding-left: calc(var(--screen-unit) * 3 / 4);
  white-space: pre;
}

blockquote {
  display: block;
  margin-left: var(--screen-unit);
  margin-right: calc(var(--screen-unit) * 2);
  padding: calc(var(--screen-unit) / 3) var(--screen-unit);
  padding-left: calc(var(--screen-unit) * 3 / 4);
}

pre p, blockquote p {
  margin: 0;
  line-height: 1.35;
}

img {
  display: block;
}

@media screen {
  body {
    font-size: var(--screen-font-size);
    line-height: var(--screen-line-height);
    background-color: #666;
    color: var(--text-color);
  }

  #container {
    display: block;
    border: solid 1px #999;
    width: 780px;
    padding: 40px 60px;
    margin: calc(var(--screen-unit) / 2) auto;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  code {
    font-size: calc(var(--screen-font-size) * 7 / 8);
  }

  pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

  pre code {
    font-size: calc(var(--screen-font-size) * 3 / 4);
  }
}

@media print {
  @page {
    margin-left: 1in;
    margin-right: 1in;
    margin-top: 1in;
    margin-bottom: 1in;
  }

  body {
    font-size: var(--print-font-size);
    line-height: var(--print-line-height);
    width: auto;
    margin: 0;
    padding: 0;
  }

  code {
    font-size: calc(var(--print-font-size) * 7 / 8);
  }

  pre code {
    font-size: calc(var(--print-font-size) * 3 / 4);
  }

  h1, h2, h3, h4, h5, h6, li, blockquote {
    page-break-inside: avoid;
  }

  p {
    widows: 3;
    orphans: 3;
  }
}