:root {
  --screen-font-size: 16px;
  --screen-line-height: calc(var(--screen-font-size) * 1.3);
  --screen-unit: var(--screen-line-height);

  --print-font-size: 12pt;
  --print-line-height: calc(var(--print-font-size) * 1.3);
  --print-unit: var(--print-line-height);

  --link-color: #cb0018;
}

@import "../base/style.css";

body {
  font-family: ScalaSansPro, "Helvetica Neue";
}

p + h2, p + h3, p + h4, p + h5, p + h6 {
  margin-top: calc(var(--screen-unit) * 1.5);
}

p {
  line-height: 1.25;
}